@include font-face(DejaVu Sans, "/tsd/sites/all/themes/pul_base/assets/public/fonts/DejaVu/DejaVuSansCondensed");
@include font-face(DejaVu Sans, "/tsd/sites/all/themes/pul_base/assets/public/fonts/DejaVu/DejaVuSansCondensed-Bold", bold);

.site-logo {
  background: url("/tsd/sites/all/themes/pul_base/assets/public/images/logo.svg") center center no-repeat;
}

.facebook-logo {
  background-image: url("/tsd/sites/all/themes/pul_base/assets/public/images/facebook.svg");
}

.twitter-logo {
  background-image: url("/tsd/sites/all/themes/pul_base/assets/public/images/twitter.svg");
}

.govdocs-logo {
  background-image: url("/tsd/sites/all/themes/pul_base/assets/public/images/govdocs.svg");
}

.friends-logo {
  background-image: url("/tsd/sites/all/themes/pul_base/assets/public/images/friends.svg");
}

.pu-logo {
  background-image: url("/tsd/sites/all/themes/pul_base/assets/public/images/pu.svg");
}

.cd-top {
  background: $white-opacity-7 url("/tsd/sites/all/themes/pul_base/assets/public/images/move-up.svg") no-repeat center 50%;
}
